<!DOCTYPE html>
<html lang="en">
<head>
     <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 

    <link rel="stylesheet" href="static/css/main.css">
    <script src="{{ url_for('static', filename='js/dom.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/ajax.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
    <title>API Wars</title>
</head>
    <body>
        <div class="container">
            <h1>Star Wars universe planets</h1>
            <ul class="pagination">
                
            </ul>          
            <table class="table table-bordered">
            
            </table>
          </div>
        

    </body>
</html>